/* RESUME SECTION*/

/* Styling for resume section heading */
.resume-section h1 {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-size: 50px;
}

/* Set margin top and bottom for resume section */
.resume-margin {
  margin-top: 50px;
  margin-bottom: 150px;
}